{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/dataTables/media/css/dataTables.bootstrap.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/dataTables/media/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/dataTables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        } );
    </script>
{% endblock %}

{% block layout_content %}
    <section id="container" >
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Afficher/Masquer la navigation"></div>
            </div>
            <!--logo start-->
            <a href="{{ path('app_panel') }}" class="logo"><b>TER</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="javascript:;"><img src="{{ asset('vendor/theme/img/ui-sam.jpg') }}" class="img-circle" width="60"></a></p>
                    <h5 class="centered">{{ app.user.lastname }} {{ app.user.firstname }}</h5>

                    {% block sidebar %}

                        {% if sidebar_active is not defined %}
                            {% set sidebar_active = 'null' %}
                        {% endif %}

                        {% if sidebar_active_sub_menu is not defined %}
                            {% set sidebar_active_sub_menu = 'null' %}
                        {% endif %}

                        <li class="mt">
                            <a {% if sidebar_active == 'home' %}class="active"{% endif %} href="{{ path('app_panel') }}">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Accueil</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a {% if sidebar_active == 'profile' %}class="active"{% endif %} href="{{ path('fos_user_profile_show') }}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>Profil</span>
                            </a>
                        </li>

                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="sub-menu">
                                <a {% if sidebar_active == 'admin' %}class="active"{% endif %} href="javascript:;" >
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>Administration</span>
                                </a>
                                <ul class="sub">
                                    <li><a {% if sidebar_active_sub_menu == 'users' %}class="active"{% endif %}  href="{{ path('user_index') }}">Gestion des utilisateurs</a></li>
                                    <li><a {% if sidebar_active_sub_menu == 'promotion' %}class="active"{% endif %} href="{{ path('promotion_index') }}">Gestion des promotions</a></li>
                                    <li><a {% if sidebar_active_sub_menu == 'ues' %}class="active"{% endif %} href="{{ path('ue_index') }}">Gestion des UEs</a></li>
                                    <li><a {% if sidebar_active_sub_menu == 'passwordRequests' %}class="active"{% endif %} href="{{ path('admin_password_requests') }}">Demande de MDP</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="sub-menu">
                                <a {% if sidebar_active == 'teacher' %}class="active"{% endif %} href="{{ path('teacher_panel') }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <span>Gestion des notes</span>
                                </a>
                            </li>
                        {% endif %}

                    {% endblock %}

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                <div class="row">
                    <div class="col-lg-12 main-chart">

                        <div class="row">
                            <div class="col-lg-12">
                                {% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>

                        {% block body %}{% endblock %}



                        <!-- **********************************************************************************************************************************************************
                        RIGHT SIDEBAR CONTENT
                        *********************************************************************************************************************************************************** -->
                    </div>
                </div>
            </section>
        </section>

        <!--main content end-->
        <!--footer start-->
        <!--footer end-->
    </section>
{% endblock %}