{% extends "::base.html.twig" %}

{% block body %}
    <div class="showback">

        <div class="row">
            <div class="col-lg-12">
                <h3><i class="fa fa-angle-right"></i> Utilisateur : {{ user.firstname }} {{ user.lastname }}</h3>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-xs-left">
                <a class="btn btn-theme-amu" href="{{ path('user_index') }}"><i class="fa fa-caret-left" aria-hidden="true"></i> Retour à la liste des utilisateurs</a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-xs-left text-sm-right">
                {{ form_start(delete_form) }}
                <button id="btn-delete-user" class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Email</th>
                        <td id="user-email">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Numéro Etudiant</th>
                        <td>{{ user.numEtu }}</td>
                    </tr>
                    <tr>
                        <th>Promotion</th>
                        <td>[{{ user.promotion.code }}] {{ user.promotion.name }}</td>
                    </tr>
                    <tr>
                        <th>Rôles</th>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_SUPER_ADMIN" %}
                                    Super Utilisateur
                                {% else %}
                                    {% if role == "ROLE_ADMIN" %}
                                        Professeur
                                    {% else %}
                                        {% if role == "ROLE_USER" %}
                                            Etudiant
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if loop.index != loop.last %}
                                    |
                                {% endif %}

                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-success" href="{{ path('user_edit', { 'id': user.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Editer</a>
                <a class="btn btn-warning" href="{{ path('user_edit_password', { 'id': user.id }) }}"><i class="fa fa-key" aria-hidden="true"></i> Editer le mot de passe</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Modal Suppression -->
    <div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="modal-delete-user-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-delete-user-label">Confirmation de suppression</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <p>Voulez-vous vraiment supprimer cet utilisateur ?</p>
                                <div class="form-group">
                                    <label for="user-delete-confirmation">Afin de confirmer veuillez entrer l'email de l'utilisateur dans le champs suivant :</label>
                                    <input id="user-delete-confirmation" name="user-delete-confirmation" class="form-control" type="text" />
                                    <span id="help-user-delete" class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button id="valid-deletion" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#btn-delete-user').on('click', function(e) {
                e.preventDefault();
                $('#user-delete-confirmation').val('');
                $(".form-group:has(#user-delete-confirmation)").removeClass('has-error');
                $("#help-user-delete").text('');
                $('#modal-delete-user').modal('show');
            });

            $('#user-delete-confirmation').on('input', function () {
                $(".form-group:has(#user-delete-confirmation)").removeClass('has-error');
                $("#help-user-delete").text('');
            });

            $('#valid-deletion').on('click', function(e) {
                e.preventDefault();
                var email = $('#user-email').text();
                var emailForm = $('#user-delete-confirmation').val();

                if(email == emailForm)
                    $("form:has(#btn-delete-user)").submit();
                else {
                    $(".form-group:has(#user-delete-confirmation)").addClass('has-error');
                    $("#help-user-delete").text("L'adresse email entrée est incorrecte.");
                }
            });
        });
    </script>
{% endblock %}