{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ues list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Credits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for uE in uEs %}
            <tr>
                <td><a href="{{ path('ue_show', { 'id': uE.id }) }}">{{ uE.id }}</a></td>
                <td>{{ uE.name }}</td>
                <td>{{ uE.slug }}</td>
                <td>{{ uE.credits }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ue_show', { 'id': uE.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ue_edit', { 'id': uE.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ue_new') }}">Create a new uE</a>
        </li>
    </ul>
{% endblock %}
