{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ uE.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ uE.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ uE.slug }}</td>
            </tr>
            <tr>
                <th>Credits</th>
                <td>{{ uE.credits }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ue_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ue_edit', { 'id': uE.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
