{% extends "::base.html.twig" %}

{% block body %}
	<div class="showback">
		<div class="row">
			<div class="col-md-12">
				<h4>Liste des notes de l'UE : {{ ue.name }}</h4>
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-theme-amu" href="{{ path('teacher_panel') }}"><i class="fa fa-caret-left" aria-hidden="true"></i> Retour à la liste de vos UEs</a>
			</div>
		</div>
	</div>

	<div class="row mt">

        {% for groupResult in gradeGroupsDisplay %}
			{% set group = groupResult.gradeGroup %}
			{% set positive = groupResult.percent %}
			{% set negative = 100 - positive %}
            {% set positive_color = "#dff0d8" %}
            {% set negative_color = "#f2dede" %}
			<a href="{{ path('teacher_panel_view_grade_group', {id: group.id}) }}">
			<div class="col-md-4 col-sm-4 mb">
				<div class="white-panel pn donut-chart">
					<div class="white-header">
						<h5>{{ group.name }}</h5>
					</div>
					<div class="row">
						<div class="col-sm-6 col-xs-6 goleft">
							<p><i style="color:{{ positive_color }}" class="fa fa-arrow-circle-o-up" aria-hidden="true"></i> {{ positive }}% de notes >= 10</p>
						</div>

						<div class="col-sm-6 col-xs-6 goright">
							<p><i style="color:{{ negative_color }}" class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> {{ negative }}% de notes < 10</p>
						</div>
					</div>
					<canvas id="GROUP-{{ group.id }}" height="120" width="120"></canvas>
					<script>
                        var doughnutData = [
                            {
                                value: {{ positive }},
                                color:"{{ positive_color }}"
                            },
                            {
                                value : {{ negative }},
                                color : "{{ negative_color }}"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("GROUP-{{ group.id }}").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div>
			</div>
			</a>
        {% endfor %}
	</div>



{% endblock %}