{% extends "::base.html.twig" %}

{% block body %}
	<div class="showback">
		<div class="row">
			<div class="col-lg-12">
				<h3><i class="fa fa-angle-right"></i> Liste de vos notes</h3>
			</div>
		</div>

		<br>
		<div class="row">
			<div id="table-filters" class="col-md-12">
				<hr>
				<h5 class="text-center">Filtres</h5>
				<hr>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-lg-12">
				<table id="user-grades" class="table table-hover">
					<thead>
					<tr>
						<th data-no-select>Date</th>
						<th>Promotion</th>
						<th>UE</th>
						<th data-no-select>Intiluté</th>
						<th data-no-select>Note</th>
					</tr>
					</thead>
					<tbody>
                    {% for grade in grades %}
						<tr>
							<td>{{ grade.date|date('d/m/Y | H:i') }}</td>
							<td>{{ grade.ue.promotion.name }}</td>
							<td>{{ grade.ue.name }}</td>
							<td>{{ grade.intitule }}</td>
							<td class="{% if grade.grade > 10 %}success{% else %}danger{% endif %}">{{ grade.grade }}</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('vendor/chosen/chosen.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('vendor/chosen/chosen-bootstrap.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('vendor/chosen/chosen.jquery.min.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
        $(function() {

            var table = $('#user-grades').DataTable({
                "language": {
                    "url": "{{ asset('vendor/dataTables/media/lang/French.json') }}"
                }
            });

            var filtersBox = $('<form class="form-horizontal"></form>').appendTo($("#table-filters"));
            $("#user-grades thead th").each( function ( i ) {
                if ($(this).text() !== '') {
                    var noSelect = $(this).data('no-select');
                    if(typeof noSelect === 'undefined') {
                        var divFilter = $('<div class="form-group"></div>').appendTo(filtersBox);
                        var label = '<label class="col-sm-2 control-label">' + $(this).text() + '</label>';
                        divFilter.append(label);
                        var columnFilter = $('<div class="col-sm-10"></div>').appendTo(divFilter);
                        var select = $('<select class="form-control chosen-select"><option value="" selected>Aucun filtre</option></select>')
                            .appendTo(columnFilter)
                            .on('change', function () {
                                var val = $(this).val();

                                table.column(i)
                                    .search(val ? '^' + $(this).val() + '$' : val, true, false)
                                    .draw();
                            });

                        table.column(i).data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    }
                }
            } );

            $(".chosen-select").chosen({
                'placeholder_text_single' : "Aucun filtre",
                'no_results_text' : "Oops, aucun UE trouvé!",
            });
        });
	</script>
{% endblock %}