{% extends "::base.html.twig" %}

{% block body %}
	<div class="row">
		<h1>Panel</h1>
	</div>

	<div class="row text-center">
		<a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
	</div>

	<h3>Clé publique</h3>
	<p>{{ user.publicKey }}</p>

	<hr>

	<h3>Clé privée</h3>
	<p>{{ user.privateKey }}</p>

	<hr>

	<h3>Test crypt</h3>
	<p>{{ test }}</p>

	<hr>

	<h3>Test decrypt</h3>
	<p>{{ test2 }}</p>
{% endblock %}